/*-------------- Theme Colour ---------------*/
:root {
  --clr-foreground: hsl(0 0% 0%);
  --clr-background: hsl(0 0% 100%);
  --clr-foregrey: rgba(110, 110, 110, 0.5);
  --clr-backgrey: rgba(231, 231, 231, 0.5);
  --clr-shadow: rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-background: hsl(0 0% 0%);
    --clr-foreground: hsl(0 0% 100%);
    --clr-foregrey: rgba(110, 110, 110, 0.5);
    --clr-backgrey: rgba(231, 231, 231, 0.5);
    --clr-shadow: rgba(255, 255, 255, 0.5);
  }
}

.light-theme {
  --clr-foreground: hsl(0 0% 0%);
  --clr-background: hsl(0 0% 100%);
  --clr-foregrey: rgba(110, 110, 110, 0.5);
  --clr-backgrey: rgba(231, 231, 231, 0.5);
  --clr-whiteshadow: rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --clr-background: hsl(0 0% 0%);
  --clr-foreground: hsl(0 0% 100%);
  --clr-backgrey: rgba(110, 110, 110, 0.5);
  --clr-foregrey: rgba(231, 231, 231, 0.5);
  --clr-shadow: rgba(255, 255, 255, 0.5);
}

.cardspace {
  padding: 3vh;
}
#year {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  position: relative;
}

.heading h1 {
  margin-top: 10%;
  margin-bottom: 2%;
  color: var(--clr-foreground);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}
.heading h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  color: var(--clr-foreground);
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
.card {
  background-color: var(--clr-background);
}
.card .icon-box {
  text-align: center;
  border: 1px solid var(--clr-foreground);
  padding: 8px;
  transition: all ease-in-out 0.3s;
  background: var(--clr-background);
  width: 100%;
  height: auto;
  border-radius: 7px;
  min-height: 100px;
  padding-top: 10px;
}

.card .icon-box .icon {
  margin: 0 auto;

  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  transition: 0.3s;
}

.card .icon-box .icon i {
  color: var(--clr-foreground);
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.card .icon-box h4 {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card .icon-box h4 a {
  color: var(--clr-foreground);
  transition: ease-in-out 0.3s;
}

.card .icon-box h4 a:hover {
  color: var(--clr-foreground);
}

.card .icon-box p {
  line-height: 24px;
  font-size: 20px;
  margin-bottom: 0;
  color: var(--clr-foreground);
  font-weight: 600;
}

.card .icon-box:hover {
  border: 2px solid var(--clr-foreground);
  transform: translateY(-10px);
}

.gitlink {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 5px;
  width: 100%;
  height: 40px;
  background: var(--clr-foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  border-radius: 5px;
  color: var(--clr-foreground);
}
.gitlink a:hover {
  color: var(--clr-background);
}
.none p a:hover {
  color: var(--clr-foreground);
}
